<header >
  <div  >
    <ul >
        <li ><a [routerLink]="['/']">Home</a></li>
        <li ><a [routerLink]="['/celulares']">Celulares</a></li>
        <li ><a [routerLink]="['/cadastrar']">Cadastro</a></li>
        <li style="float:right"><a [routerLink]="['/sobre']">Sobre</a></li>
    </ul>
  </div>
  </header>