<section >
  <h1>Sobre</h1>
</section>

<section >
    <p class="lead">
      Claro | Aplicação Desafio Global Hitss 2018
    </p>
    <p> Claro é uma empresa operadora de telecomunicações que foi criada no Brasil, 
    resultado da união de seis operadoras regionais: Americel (Acre, Distrito Federal, Goiás, 
    Mato Grosso, Mato Grosso do Sul, Rondônia e Tocantins), ATL (Espírito Santo e Rio de Janeiro), 
    BCP (São Paulo, Pernambuco, Alagoas, Ceará, Paraíba, Piauí e Rio Grande do Norte), 
    Claro Digital (Rio Grande do Sul) e TESS (interior e litoral de São Paulo).</p>

  </section>