<section >

  <div >
     <h1>Nossas ofertas</h1>
     <p>Click na linha para ver os detalhes</p>
  </div>

  <table style="width:100%">
    <tr>
      <th>Modelo</th>
      <th>Marca</th>
      <th>Data</th>
    </tr>
    <tr *ngFor="let celular of celulares" [routerLink]="['/celulares', celular.id]">
      <td>{{celular?.model}}</td>
      <td>{{celular?.brand}}</td>
      <td>{{celular?.date | date: 'dd/MM/yyyy'}}</td>
    </tr>
  </table>

</section>