<section class="content">

    <div class="jumbotron welcome-jumbotron">
       <h1>Cadastre um novo produto</h1>
    </div>

    <form [formGroup]="celularForm" novalidate>
      <div>
          <label for="name">Modelo:</label>
          <input formControlName="model" placeholder="Modelo" autocomplete="off" id="name"/>
      </div>
      <div>
          <label for="name">Marca:</label>
          <input formControlName="brand" placeholder="Marca" autocomplete="off" id="name" />
      </div>
      <div>
          <label for="name">Data:</label>
          <input type="date" formControlName="date" placeholder="Data" autocomplete="off" id="name" />
      </div>
      <div>
          <label for="name">Preço:</label>
          <input type="number" formControlName="price" placeholder="Preço" autocomplete="off" id="name" />
      </div>
      <div>
          <label for="name">Foto:</label>
          <input formControlName="photo" placeholder="Foto" autocomplete="off" id="name" />
      </div>

      <div class="button">
          <button (click)="cadastrarNovoCelular(celularForm.value)" 
            [disabled]="!celularForm.valid">Finalizar cadastro</button>
      </div>
  </form>
  
  </section>