<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h1>Detalhes do produto</h1>
  </div>

  <div class="wrapper">
    <div class="box1">
        <img *ngIf="celular && celular.photo" [src]="celular?.photo" alt="Imagem não disponível">
    </div>
    <div class="box2">
        <strong>Modelo:</strong><br/>{{celular?.model}}
    </div>
    <div class="box3">
        <strong>Marca:</strong><br/>{{celular?.brand}}
    </div>
    <div class="box4">
        <strong>Data:</strong><br/>{{celular?.date | date: 'dd/MM/yyyy'}}
    </div>
    <div class="box5">
        <strong>Preço:</strong><br/>{{celular?.price | currency:'BRL' }}
    </div>
 </div>

</section>