.wrapper { 
    display: grid; 
    grid-template-columns: repeat(3, 1fr); 
    grid-auto-rows: 100px; 
} 
.box1 { 
    grid-column-start: 1; 
    grid-column-end: 4; 
    grid-row-start: 1; 
    grid-row-end: 3; 
} 
.box2 { 
    grid-column-start: 1; 
    grid-row-start: 3; 
    grid-row-end: 5; 
}
* {box-sizing: border-box;}
.wrapper {
    border: 2px solid black;
    border-radius: 5px;
}
.wrapper > div {
    border: 2px solid black;
    border-radius: 5px;
    padding: 1em;
}
.nested {
    border-radius: 5px;
    padding: 1em;
}

img {
    height: 100%;
    width: 20%;
  }