<section class="content-header">
</section>

<section class="content">

  <div class="jumbotron welcome-jumbotron">
     <h1>Bem vindo a Claro!</h1>
     <p>
       Quer um celular novo? Na claro você tem as melhores ofertas.
     </p>
  </div>

</section>